@media print {
  header,
  footer,
  nav {
    display: none !important;
  }

  body {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
}

@page {
  margin: 0;
  size: A4 landscape;
}
